.categories {
  .list-categories {
    margin-top: 20px;
    .list-categories-title {
      font-size: 24px;
      display: flex;
      justify-content: space-around;
      padding: 0 20px;
      margin-bottom: 10px;
      .cat-action-delete {
        margin: 5px;
        cursor: pointer;
        color: red;
      }
    }
    .list-categories-table {
      width: 100%;
      .cat-action-edit {
        font-size: 24px;
        margin: 5px;
        color: blue;
        cursor: pointer;
      }
    }
  }
  .upload-image {
    text-align: center;
    span {
      margin: auto;
      padding: 5px;
      cursor: pointer;
      border: 1px solid rgba(128, 128, 128, 0.436);
      background-color: lightgreen;
      border-radius: 5px;
    }
  }
}
