* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Old Standard TT", serif;
}
@import "bootstrap/dist/css/bootstrap.min.css";
@import "./home.scss";
@import "./user.scss";
@import "./response.scss";
@import "./single.scss";
@import "./write.scss";
@import "./item_blog.scss";
@import "./images_manage.scss";
@import "./categories_manage.scss";
@import "./categories_list.scss";
@import "./category_page.scss";
@import "./category-item.scss";
@import "./action_blog.scss";
@import "./slide.scss";
@import "./navbar.scss";
@import "./footer.scss";
@import "./notification.scss";
