.image-manager {
  display: grid;
  grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
  column-gap: 1%;
  row-gap: 2%;
  .image-manager-upload {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.505);
    .image-upload-icon {
      font-size: 50px;
    }
    .image-upload-input {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 3;
      opacity: 0;
    }
    &:active {
      box-shadow: 2px 2px 5px #fc894d;
    }
  }
  .image-manager-item {
    overflow: hidden;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 5%;
    img {
      width: 100%;
      object-fit: cover;
    }
    &.active {
      box-shadow: 1px 1px 10px 1px #fc894d;
    }
  }
}
