.item-blog {
  margin: 10px;
  .item-blog__image {
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.2s;
    &:hover {
      transform: translateY(-10px);
    }
    img {
      border-radius: 20px;
      width: 100%;
      aspect-ratio: 3/4;
      object-fit: cover;
    }
  }
  .item-blog-tag {
    .tag-item {
      &:hover {
        background-color: gainsboro;
      }
      margin-right: 10px;
      background-color: rgb(239, 238, 240);
      padding: 5px 10px;
      border-radius: 10px;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  .item-blog-action {
    .item-blog-title {
      padding: 5px 0;
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: 22px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .item-blog-text {
    display: -webkit-box;
    max-width: 100%;
    height: 50px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
