.navbar-blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(246, 244, 241);
  .navbar-blog__Logo {
    &:hover {
      cursor: pointer;
    }
    width: 100px;
    height: 100px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .navbar-blog-menu {
    .navbar-blog-menu-mobile {
      display: none;
    }
    .navbar-blog-menu-items {
      display: flex;
      margin: 0;
      padding: 0;
      .item-menu {
        box-sizing: border-box;
        list-style: none;
        margin: 5px;
        padding: 5px;
        .item-menu__action {
          color: black;
          margin: 5px;
          padding: 5px;
          &:hover {
            background-color: gainsboro;
            border-radius: 10px;
          }
          &.write {
            background-color: lightblue;
            border-radius: 10px;
          }
        }
        a {
          text-decoration: none;
        }
        .item-menu__search {
          margin: 5px;
          padding: 5px;
          background-color: gainsboro;
          border-radius: 5px;
        }
        .item-menu-join {
          cursor: pointer;
          background-color: black;
          color: white;
          margin: 5px;
          padding: 5px;
          border-radius: 5px;
          &:hover {
            background-color: lightgreen;
          }
        }
      }
    }
  }
}
