@media screen and (max-width: 600px) {
  .register,
  .login {
    .background {
      display: none;
    }
  }
  .navbar-blog {
    .navbar-blog-menu {
      position: relative;
      .navbar-blog-menu-search {
        .search-input {
          width: 100px;
        }
      }
      .navbar-blog-action-collapse {
        display: flex !important;
        align-items: center;
        margin: 0 10px;
        padding: 5px;
      }
      .navbar-blog-menu-collapse {
        display: none;
        .navbar-blog-menu-items {
          display: flex;
          flex-direction: column;
          max-width: 250px;
          background-color: white;
          height: 100%;
          .item-menu {
            display: flex;
            flex-direction: column;
          }
        }
        &.active {
          position: fixed;
          display: block !important;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.289);
          z-index: 9;
          left: 0;
          top: 0;
          bottom: 0;
        }
      }
    }
  }
  .footer-blog {
    display: flex;
    flex-direction: column;
    .footer-blog-content {
      width: 100%;
    }
    .footer-blog-navbar {
      width: 100%;
    }
  }
  .single-container {
    .single-header {
      display: flex;
      flex-direction: column;
      .single-header-content {
        width: 100% !important;
      }
      .single-header-image {
        width: 100% !important;
      }
    }
  }
  .home-recent-blog-items {
    display: grid !important;
    grid-template-columns: 50% 50% !important;
  }
}
@media screen and (max-width: 480px) {
  .register,
  .login {
    .background {
      display: none;
    }
  }
  .footer-blog {
    display: flex;
    flex-direction: column;
    .footer-blog-navbar {
      display: grid !important;
      grid-template-columns: 50% 50% !important;
    }
  }
  .home-recent-blog-items {
    display: flex !important;
    flex-direction: column;
  }
  .image {
    grid-template-columns: 49.5% 49.5% !important;
  }
}
