//login and register
.error {
  color: red;
  margin: 5px;
}
.login,
.register {
  .background {
    .background__image {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
  .form-input-action {
    background-color: oldlace;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-header-Logo {
      cursor: pointer;
      width: 200px;
      height: 200px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .form-content {
      max-width: 500px;
      width: 100%;
    }
  }
}
.profile {
  margin: 20px 0;
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    .profile-info-avatar {
      display: flex;
      background-color: gainsboro;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .avatar-icon {
        position: absolute;
        width: 50px;
        height: 50px;
      }
    }
    .profile-info-detail {
      margin: 10px 0;
      width: 500px;
      .profile-info-detail-title {
        max-width: 100%;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .profile-info-detail-title__action {
          width: 30px;
          height: 30px;
          border-radius: 5px;
          margin: 5px;
          padding: 5px;
          background-color: gainsboro;
          cursor: pointer;
          &:hover {
            background-color: lightblue;
          }
        }
      }
      .profile-info-detail-update,
      .profile-info-detail-view {
        width: 100%;
        form {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
