//write-container
.write-container {
  margin: 50px 0;
  .form-write {
    display: flex;
    justify-content: space-between;
    .form-write-left {
      width: 70%;
      display: flex;
      flex-direction: column;
      input,
      textarea {
        padding: 10px;
        width: 100%;
        margin: 10px 0;
        border: 1px solid rgba(128, 128, 128, 0.5);
        &:focus {
          outline: 0;
          box-shadow: 2px 2px 5px 2px lightgreen;
        }
      }
      .ck-content {
        height: 300px;
      }
    }
    .form-write-right {
      width: 25%;
      display: flex;
      flex-direction: column;
      .form-write-right-option {
        border: 1px solid rgba(128, 128, 128, 0.5);
        margin: 10px 0;
        .form-write-right-option-tags,
        .form-write-right-option-cat {
          padding: 10px;
          .cat-items {
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .manager-action {
              font-size: 24px;
              margin: 5px;
              cursor: pointer;
              color: deepskyblue;
            }
          }
        }
      }
      .form-write-right-action {
        border: 1px solid rgba(128, 128, 128, 0.5);
        .form-write-right-action__upload {
          text-align: center;
          margin: 10px;
          cursor: pointer;
          position: relative;
          .image-post-view {
            padding: 10px;
            margin: auto;
            width: 180px;
            height: 180px;
            border-radius: 50%;
          }
        }
        .form-write-right-action__submit {
          margin: 10px;
          display: flex;
          justify-content: space-between;
          button {
            padding: 5px;
            background-color: lightgreen;
            border: 1px solid rgba(128, 128, 128, 0.5);
            &:hover {
              opacity: 0.8;
            }
            &:first-child {
              background-color: lightcoral;
            }
          }
        }
      }
    }
  }
}
